.row
  .col-xs-12
    %h1
      = @group.name + ' (' + @group.amount.to_s + '€)'
      = link_to 'x', group_path(@group), method: 'delete', data: { confirm: 'Wirklich gesamte Bezugsgruppe löschen?' }
  - @group.shares.each do |share|
    .col-xs-12.margin-below
      = link_to share.name, share_path(share)
      - if share.amount
        %span.label.label-default
          = share.size.to_s + ' Ernteanteile für insgesamt ' + share.amount.to_s + '€'
      - else
        %span.label.label-danger
          Noch nicht geboten
