Hallo
=@share.name
\
Für euren Ernteanteil wurde ein Account auf Bastabiet angelegt. Um diesen nutzen zu koennen müsst ihr ihn durch klicken
= link_to 'dieses Links', @activation_link
aktivieren!
\
Eure Admins
