Hallo #{@share.name}
\
Die Admins haben einen Account für dich erstellt. Um ein eigenes Passwort zu wählen und dich einzuloggen, gehe bitte auf #{root_url} und klicke auf 'Passwort vergessen?'.
\
Eure Admins
