Hallo #{@share.name.split(' ').first},
\
wir melden uns, um euch noch einmal mit wichtigen Infos rund um den Abschluss des diesjährigen Bietverfahrens und das kommende Basta-Jahr zu versorgen.
\
*** NEUES JAHR = ÜBERWEISUNGEN ANPASSEN ***
Wenn ihr es nicht bereits gemacht habt, passt bitte schnellstmöglich eure Überweisungen an euer aktuelles gelbes Gebot an (für Jan-Dez 2020). Ihr zahlt #{number_to_currency(@share.offer_medium, unit: '€')} im Monat und bekommt dafür #{@share.size} Ernteanteil(e).
\
- if @share.super_moneymaker_name
  Überweisungspatin eurer Bezugsgruppe ist #{@share.super_moneymaker_name}.
- else
  Leider wissen wir nicht wer Überweisungspatin eurer Bezugsgruppe ist. Wenn ihr für die Überweisungen eurer Bezugsgruppe an Basta zuständig seid schreibt uns bitte eine kurze Nachricht an bieten@csa-basta.org, damit wir den Überblick behalten.
\
*** AUSGANG DES BIETVERFAHRENS ***
Es bleibt in diesem Jahr beim gelben Gebot. Der Finanzplan ist damit allerdings nicht vollständig gedeckt, das Minus wird mit dem Überschuss aus 2019 ausgeglichen. Bei der Vollversammlung (während der Stadtsause am 7.3.) wird Raum sein für eine Auswertung und Diskussion des Bietverfahrens.
\
*** SAVE THE DATE: DEIN BASTA ACTION SATURDAY 2020: ***
21.03.20: Topinambur, Gurkentruppe, New York Cheesecake
16.05.20: Kladaradatsch, Machen Wa Noch
30.05.20: Zweitopf, Mallorca
13.06.20: Luftplankton, Zazaza, Travolta
27.06.20: Gurken, Fuenf Minuten, Rot Schwarz K9
18.07.20: Mai 2, Knoeterich, Estragon
25.07.20: Juni 2, Bombasta
12.09.20: Bouffe, Kaesehunde, Fagioli
19.09.20: Zucchini, Gelbe Gummistiefel, Woennich 103
26.09.20: Banana Split, Krasse Kresse, Jitomate
03.10.20: Nuklearhokkaido, Rhabarberbarbaras, Basiliko
10.10.20: Loveboat, LischenRadieschen, Hortus
17.10.20: Runkelrübchen, Beetbox, Pastinake
\
Du und die Menschen, mit denen du den Ernteanteil teilst, sind herzlich eingeladen zum ActionSaturday. Dort hast du die Möglichkeit, Basta, die Gartencrew und die anderen Mitglieder deiner Bezugsgruppe kennenzulernen. Bitte halte dir den Termin frei und trage dich in den Basta-Mitmachkalender ein [https://pad.riseup.net/p/Bastamitmach-keep] ein. Wenn dieser Termin dir gar nicht passt, kannst du alternativ ein anderes Wochenende aus dem Mitmachkalender wählen oder an der Organisation des Hoffestivals teilnehmen. Alle weiteren Infos zum kommenden Gartenjahr und geplanten Actions findest du im Mitmachkalender.
\
*** REMINDER: MINDESTBETEILIGUNG ***
Wir möchten euch nochmal an die Mindestanforderungen für die Basta-Mitgliedschaft erinnern. Du bzw. ihr habt zugestimmt, dass du...
\...erreichbar bist (via Email),
\...Kontakt zu deiner Bezugsgruppe hast (Infos dazu liefert u.a. die Willkommens-AG, willkommen@lists.csa-basta.org)
\...auf der Plattform angemeldet bist und dich über die wichtigsten Entwicklungen informierst (https://csa-basta.org/, Kontakt im Problemfall: Internet-AG, internet-ag@lists.csa-basta.org)
\...deine Beiträge jeweils im Voraus monatlich, vierteljährlich oder jährlich überweist, d.h. vor Beginn des jeweiligen Zeitraumes. Die Beiträge werden gesammelt per Bezugsgruppe überwiesen (Kontakt im Problemfall: Finanz-AG, finanz-ag@lists.csa-basta.org)
\...einmal pro Jahr zur gegebenen Frist deine Gebote abgibst (meist im Herbst)
\...zusammen mit deiner Bezugsgruppe sicher stellst, dass die in eurer Verantwortung stehende Betreuung der Abholstation übernommen wird (eigenständige Information über Dienste-Pad bzw. Plattform).
\
So weit von uns. Wir freuen uns auf ein gemüsereiches, geselliges, solidarisches 2020 mit euch!
\
Eure
Biet-AG
