/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_superhero_theme.min
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';

$green: #5cb85c;
$yellow: #f0ad4e;
$red: #d9534f;
$blue: #5bc0de;
$white-t: rgba(255,255,255,0.3);

.green-bg { background-color: $green; }
.yellow-bg { background-color: $yellow; }
.red-bg { background-color: $red; }

.blue { color: $blue; }

body:after{
  position: fixed;
  content: '';
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  background-image: url(image-path('background-image.png'));
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
  opacity: 0.05;
}

.main-container {
  min-height: 80vh;
}

.coderat {
  margin: 7px;
  padding-top: 30px;
}

.loading-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  line-height: 100vh;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  display: none;
}

.minimum-participation-button {
  cursor: pointer;
}

.btn {
  width: 100%;
}

li > a {
  cursor: pointer;
}

.margin-below {
  margin-bottom: 15px !important;
}

.navbar-brand {
  color: #5bc0de !important;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

%th {
  color: grey !important;
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.offer-field {
  height: 80px;
  font-size: 35px;
  color: white !important;
}

.completion-bar {
  background-color: $green;
  height: 20px;
  color: $white-t;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  min-width: 2%;
  white-space: nowrap;
}

.register-completion-bar {
  background-color: $blue;
  height: 20px;
  color: $white-t;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  min-width: 2%;
  white-space: nowrap;
}

.offer_minimum {
  color: $green;
  .bar rect {
    fill: $green;
  }
}

.offer_medium {
  color: $yellow;
  .bar rect {
    fill: $yellow;
  }
}

.offer_maximum {
  color: $red;
  .bar rect {
    fill: $red;
  }
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.statistic-table {
  width: 100%;
  opacity: 0.3;
  &.true {
    opacity: 1;
  }
}

.histogram {
  height: 300px;
  width: 350px;
  opacity: 0.3;
  &.true {
    opacity: 1;
  }
}

.yearly-sum {
  font-size: 20px;
}

.logged-in-with {
  color: $green !important;
}

textarea {
  resize: vertical;
}


/* datatable */

.share-table {
  tr.odd {
    background-color: transparent !important;
  }
  tr {
    background-color: transparent !important;
    height: 50px;
    .child {
      background: $white-t !important;
    }
  }
  td {
    border-top: 1px solid $white-t !important;
    background-color: transparent !important;
  }

  th {
    border-bottom: 1px solid $white-t !important;
    font-size: 14px !important;
  }

  .offers-cell {
    white-space: nowrap;
    .label {
      margin: 0 3px;
      font-size: 12px;
    }
  }
}

.dataTables_filter {
  color: white !important;
  input {
    font-size: 14px;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 0 !important;
  }
}
