#minimum-participation-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title Mindestbeteiligung

      .modal-body

        <p>Damit die CSA &uuml;berhaupt funktioniert, ist eine Mindestbeteiligung aller Mitglieder absolut essentiell. Mit meiner Mitgliedschaft garantiere ich daher, dass ich</p>
        <ul>
        <li>...<strong>erreichbar</strong> bin (Email,</li>
        <li>... <strong>Kontakt</strong> zu meiner <strong>Bezugsgruppe</strong> habe, d.h. ich zu Beginn meiner Mitgliedschaft Kontakt zu den weiteren Personen meiner Bezugsgruppe herstelle. Infos dazu liefert u.a. die Willkommens-AG (<a href="mailto:willkommen@lists.csa-basta.org)">willkommen@lists.csa-basta.org</a>)</li>
        <li>... auf der <strong>Plattform angemeldet</strong> bin und mich über die wichtigsten Entwicklungen informiere (Kontakt im Problemfall: Internet-AG, <a href="mailto:internet-ag@lists.csa-basta.org)">internet-ag@lists.csa-basta.org</a>)</li>
        <li>... meine Beiträge jeweils im Voraus monatlich, vierteljährlich oder jährlich <strong>überweise</strong>, d.h. vor Beginn des jeweiligen Zeitraumes. Die Beiträge werden gesammelt per Bezugsgruppe überwiesen (Kontakt im Problemfall: Finanz-AG, <a href="mailto:finanz-ag@lists.csa-basta.org)">finanz-ag@lists.csa-basta.org</a>)</li>
        <li>... einmal pro Jahr zur gegebenen <strong>Frist</strong> meine <strong>Gebote abgebe</strong> (Kontakt im Problemfall: Finanz-AG)</li>
        <li>... zusammen mit meiner Bezugsgruppe sicher stelle, dass die in unser Verantwortung stehende <strong>Betreuung der Abholstation</strong> übernommen wird. Ich informiere mich selbstst&auml;ndig darüber, für welche Termine meine Bezugsgruppe verantwortlich ist (Dienste-Pad bzw. Plattform).</li>
        </ul>

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Schließen