#statistic-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Statistik
      .modal-body
        - [@offers_minimum, @offers_medium, @offers_maximum].each do |offers|
          .row
            .col-xs-12
              %h3 Summe
            .col-xs-6
              %b Real:
            .col-xs-6
              %b Real:
              = offers.average.to_s + '€'
            .col-xs-12
              %hr
            .col-xs-12.text-center
              %svg.histogram

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Schließen

:javascript
  window.offers_minimum = #{@offers_minimum.offers};
